<!doctype html>
<html class="no-js" lang="sv">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ title }}</title>
        <meta name="description" content="{{description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--[if (gt IE 8) | (IEMobile)]><!-->
        <link rel="stylesheet" href="/master.css">
        <!--<![endif]-->

        <!--[if (lt IE 9) & (!IEMobile)]>
        <link rel="stylesheet" href="{{assets}}/css/lt-ie9.css">
        <![endif]-->

        <!--[if lt IE 9]>
        <script src="{{assets}}/js/lib/html5shim.js"></script>
        <![endif]-->
    </head>
    <body>
        {{> body }}
    </body>
</html>